.about {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me {
    width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #21262d;
  background-color: #0d1117;
  padding: 8px;
  margin: 50px;

  border-radius: 8px;
  color: white;
}
