.btn-green {
  justify-items: center;
  width: 450px;
  background-color: #1f6121;
  color: white;
  padding: 14px 20px;
  margin: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &.btn-green:hover {
    background-color: #45a049;
  }
}
