.main-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width : 450px;
  border: 2px solid #21262d;
  background-color: #0d1117;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.card .title {
  display: flex;
  justify-content: space-between;
  color: #c9d1d9;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  right: -12px;
}
.card .title h6 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  right: -15px;
}
.card p {
  color: #838c96;
}
