.create {
  display: flex;
  justify-items: center;
  justify-content: center;
  .container {
    display: flex;
    justify-items: center;
    justify-content: center;
    border: 2px solid #21262d;
    background-color: #0d1117;
    padding: 20px;
    margin: 8px;
    border-radius: 8px;
    color: white;

    .create-input {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-sizing: border-box;
    }
    .btn-post {
      width: 100%;
      background-color: #4caf50;
      color: white;
      padding: 14px 20px;
      margin: 4px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    .btn-cancel {
      width: 100%;
      background-color: #b32020;
      color: white;
      padding: 14px 20px;
      margin: 4px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}