.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  height: 60px;
  background-color: #161b22;
  .linkedin {
    margin-top: 25px;
    color: rgb(109, 107, 107);
    cursor: pointer;
  }
  .gitlab {
    margin-top: 25px;
    margin-left: 25px;
    color: rgb(109, 107, 107);
    cursor: pointer;
  }
}
