.home {
  display: flex;
  justify-items: center;
  justify-content: center;
  .container {
    border: 2px solid #21262d;
    background-color: #0d1117;
    padding: 20px;
    margin: 8px;
    border-radius: 8px;
    color: white;
    width: 550px;
    margin-bottom: 20px;
  }
}
