.menu {
  display: flex;
  background-color: #161b22;
  justify-content: center;
  justify-items: center;
  height: 50px;

  .navbar {
    
    ul {
      display: flex;
      height: 15px;
      justify-content: center;
      justify-items: center;

      li {
        margin-top: 15px;
        display: flex;
        list-style: none;
        margin-right: 8px;
        a {
          color: rgb(255, 254, 254);
          font-weight: bold;
          text-decoration: none;
        }
        a:hover {
          color: white;
        }
      }
    }
  }
}
