@import "navbar";
@import "footer";
@import "card";
@import "home";
@import "create";
@import "about";
@import "button";
html,
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #06090f;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  // background-color: rgb(244, 244, 248);
}
.create-post {
  display: flex;
  justify-content: center;
  justify-items:center ;
}
